body {
    height:297mm;
    width:210mm;
    margin-top: 180px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color:#ddd;
    background-image: url("../images/wooden-table-bg.jpg");
    background-position: top;
    background-size: auto 100%;
    font-family: 'Source Sans Pro', sans-serif;
    color: #353535;
    font-size: 12px
}

#sheet {
    box-shadow: 5px 5px 10px #555;
    background-color: white;
    width: 100%;
    height: 100%;
    margin: 0px 0px;
    overflow: hidden;
}

#main {
    position: relative;
    width: calc(64% - 50px);
    height: calc(100% - 50px);
    background-color: white;
    float: left;
    padding: 25px;
}

/* --- General style --- */

h1, h2, h3, h4 {
    font-family: 'Ubuntu',sans-serif;
    margin: 0px 0px;
}

h1, h2 {
    line-height: 1.1;
    text-transform: uppercase;
}

h1 {
    margin: 0px 0px;
    color: #0D597B;
    font-weight: 100;
    font-size: 31px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 20px;
}

h3::after { 
    content: " »";
}

h4 {
    margin: 0px 0px 5px 34px;
}

p {
    margin: 5px 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

.circle {
    color: white;
    display: inline-block;
    background: linear-gradient(#55acee, #4183b5);
    width: 30px;
    height: 30px;
    border-radius: 15px;
    vertical-align: baseline;
    text-align: center;
}

.circle > .far, .circle > .fas {
    line-height: 30px;
}

.part {
    margin-left: 34px;
    margin-bottom: 20px;
}

.job {
    text-transform: uppercase;
}

.company {
    margin-left: 34px;
}

.time {
    color: #A1A1A1;
    font-weight: 100;
    float: right;
}

.title {
    font-family: 'Ubuntu',sans-serif;
    font-style: italic;
    color:#0D597B;
}

.part a {
    text-decoration: none;
}

.part i {
    float: right;
    color: #A1A1A1;
}

/* --- Sidebar style --- */

#sidebar {
    position: relative;
    width: calc(36% - 50px);
    height: calc(100% - 50px);
    background-color: #f3f3f3;
    float:left;
    padding: 25px;
}

#sidebar ul {
    list-style: none;
    padding: 0px;
    margin-bottom: 40px;
    font-weight: bold;
}

#sidebar li {
    margin-bottom: 1.5em;
}

#sidebar i {
    line-height: 26px;
}

#sidebar a {
  color:inherit;
  text-decoration: none;
}

#sidebar .fa-link {
    color: #545454;
    float: right;
}

.bar {
    width: 100%;
    height: 14px;
    background-color: white;
    border-radius: 7px;
}

.bar-loaded {
    height: 14px;
    background: linear-gradient(to left,#55acee, #4183b5);
    border-radius: 7px;
}

.bar-loaded-90 {
    width: 90%;
}

.bar-loaded-80 {
    width: 80%;
}

.bar-loaded-60 {
    width: 60%;
}

.bar-loaded-40 {
    width: 40%;
}

.bar-loaded-30 {
    width: 30%;
}

.bar-loaded-20 {
    width: 20%;
}

.little-circle {
    color: white;
    display: inline-block;
    background-color: #0D597B;
    background: linear-gradient(#55acee, #4183b5);
    width: 26px;
    height: 26px;
    border-radius: 13px;
    vertical-align: middle;
    text-align: center;
    margin-right: .5em;
}

#footer {
    position: absolute;
    text-align: center;
    left: 25px;
    right: 25px;
    bottom: 25px;
}
